[Desktop Entry]
Version=1.0
Name=WhatsApp
Comment=WhatsApp
Exec=brave --app=https://web.whatsapp.com/ --no-default-browser-check --profile-directory="Profile 3" %U
Terminal=false
Type=Application
Icon=/home/irae/.local/share/applications/icons/WhatsApp.png
StartupNotify=true
